@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

#confetti {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

p {
  text-align: center;
  margin-top: 4rem;
  font-size: 4.688rem;
  font-weight: 300;
  color: #804fb9;
}

#animation-logo {
  position: fixed;
  bottom: -5.625rem;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  p {
    margin-top: 8rem;
    font-size: 2.5rem;
  }

  .lineBreak {
    display: block;
  }

  #confetti{
    width: 25rem;
    height: 20rem;
  }

  #animation{
    background-color: red;
  }
  #animation-logo {
    width: 35rem;
    height: 35rem;
    bottom: -2rem;
  }
}
