@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

.container {
  overflow: hidden;
}

#confetti {
  width: 90rem;
  height: 90rem;
}

p {
  text-align: center;
  margin-top: 4rem;
  font-size: 75px;
  color: #804fb9;
}

#littleHeartStudio {
  position: fixed;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  p {
    margin-top: 8rem;
    font-size: 2rem;
  }

  #confetti {
    width: 20rem;
    height: 20rem;
  }

  #littleHeartStudio {
    width: 30rem;
    height: 30rem;
    bottom: 5rem;
  }
}
